body {
    background-image: url("tarmac.jpg");
}

p {
    color: white;
    font-family: "Arial";
}

h3 {
    color:red;
    font-size: 40px;
    font-family: "Passiont One";
    margin-bottom: 0px;
}

#Header {   
    border: solid 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    background-color: #8e41d5;
}

#Header h1 {
    font-size: 60px;
    font-family: "Passion One";
    color: yellow;
    font-weight: bold;
}

#LeftNav {

    border-radius: 400px;
    padding: 20px;
    width: 450px;
    height: 300px;
    border: solid 8px black;
    margin-bottom: 10px;
    float: left;
    text-align: center;
    background-color: #8e41d5;
}

ul {
    list-style: none;
    padding-left: 0px;
}

#Content {
    border: solid 8px black;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
    padding: 15px;
    background-color: #8e41d5;
}

#Footer {
    border: dotted 8px black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: center;
    background-color: #8e41d5;
}